#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman database.service
BindsTo=immich.service
After=immich.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
# EnvironmentFile=%S/state/secrets/passwords.secret
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/database.pid %t/database.ctr-id
ExecStartPre=/bin/mkdir -p %S/state/restore/
ExecStart=/usr/bin/podman run --conmon-pidfile %t/database.pid \
    --cidfile %t/database.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/immich.pod-id --replace -d --name database \
    --env-file=%S/state/environment \
    --volume postgres-data:/var/lib/postgresql/data:Z \
    --volume %S/state/restore/:/docker-entrypoint-initdb.d/:Z \
    --env POSTGRES_USER=postgres \
    --env POSTGRES_PASSWORD=Nethesis,1234 \
    --env POSTGRES_DB=immich \
    --env POSTGRES_INITDB_ARGS=--data-checksums \
    --env TZ=UTC \
    ${POSTGRES_IMAGE}
ExecStartPost=/usr/bin/bash -c "while ! podman  exec database psql -U postgres -d immich ;  do sleep 5 ; done"
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/database.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/database.ctr-id
ExecReload=/usr/bin/podman kill -s HUP database
SyslogIdentifier=%u
PIDFile=%t/database.pid
Type=forking

[Install]
WantedBy=default.target
